header{
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.primary-button{
    background-color: #2500f9;
    color: white;
    padding: 16px 50px;
    border: unset;
    border-radius: 50px;
}
.hover-button{
    color: #2500f9;
    background-color: transparent;
    border: unset;
    padding: 16px 50px;
    transition: .2s linear;
}
.hover-button:hover{
    background-color: #2500f9;
    color: white;
    padding: 16px 50px;
    border: unset;
    border-radius: 50px;
}
.div-border{
    border-right: 2px solid;
}
@media only screen and (max-width: 668px) {
    .div-border{
        border-right:unset;
        border-bottom: 3px solid;
    }
    
}